@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

h1, h2{
    text-align: center;
    font-family: "Cal Sans", sans-serif;
    text-decoration: underline;
    text-underline-offset: 4.75px;
}

.container-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 600px;
    height: 75px;
    margin: 0 auto;
}

button {
    background-color: black;
    color:white;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(54, 54, 54);
    border: 2px solid black;
    transition: background-color 0.5s ease;
    cursor: pointer;
}