<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Cliente</title>

        <link rel="stylesheet" href="/styles/cadastro.css">
    </head>
    <body>
        <header>
            <h1>Cliente</h1>
            <h2>Cadastre novos clientes!</h2>
        </header>

        <main>
            <section class="actions">
                <div class="button-grid">
                    <button onclick="window.location.href='/'">Voltar</button>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 Raffi Estoque</p>
        </footer>
    </body>
</html>