<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro Produto</title>
        <link rel="stylesheet" href="/styles/cadastro.css">
    </head>
    <body>
    
        <header>
            <h1>Cadastro de Produto</h1>
            <h2>Preencha as informações do produto</h2>
        </header>

        <main>
            <form>
                <h2>Cadastro de Produto</h2>

                <label for="nomeProduto">Nome do Produto:</label>
                <input type="text" id="nomeProduto" name="nomeProduto" required />

                <label for="unidadeMedida">Unidade de Medida:</label>
                <select id="unidadeMedida" name="unidadeMedida" required>
                    <option value="">Selecione uma unidade</option> <option value="Unidade">Unitário</option>
                    <option value="Kg">Kg</option>
                    <option value="Metro">Metro</option>
                </select>
                
                <label for="valorCusto">Valor de Custo:</label>
                <input type="number" step="0.01" id="valorCusto" name="valorCusto" required />

                <label for="valorVenda">Valor de Venda:</label>
                <input type="number" step="0.01" id="valorVenda" name="valorVenda" required />

                <label for="estoqueAtual">Estoque Atual:</label>
                <input type="number" id="estoqueAtual" name="estoqueAtual" required />

                <label for="estoqueMinimo">Estoque Mínimo:</label>
                <input type="number" id="estoqueMinimo" name="estoqueMinimo" required />

                <div class="button-group">
                    <button type="submit">Cadastrar Produto</button>
                    <button type="button" onclick="window.location.href='/'">Voltar</button>
                </div>
            </form>
    
        </main>

        <footer>
            <p>&copy; 2025 Raffi Estoque</p>
        </footer>
    </body>
</html>